/* Custom Properties CSS Start */
:root {
    --logocolor1: #00eaff;
    --logocolor2: #0077ff;
    --bgcolor1: #FFFFFF;
    --bgcolor2: #F8FAFC;
    --textdark: #102D47;
    --textgray: #668199;
    --navyblue1: #2F73F2;
    --navyblue2: oklch(0.546 0.245 262.881);
    --navyblue1: #2563EB;
    --glassback: #80808015;
    --glassborder: solid 1px #A3A3A3;
    --glassblur: blur(5px);
    --shorttransdur: 0.1s;
    --medtransdur: 0.3s;
    --longtransdur: 0.5s;
    --font: "poppins", sans-serif;
}

/* Custom Properties CSS End */

/* Universal CSS Start */
* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font);
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltip-text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    background: #000000a0;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 14px;
    white-space: nowrap;
    transition-duration: 0.3s;
    z-index: 500;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #000000a0 transparent;
}

.tooltip:hover .tooltip-text {
    transition-delay: 0.5s;
    visibility: visible;
    opacity: 1;
}

/* Universal CSS End */

/* Canvas CSS Start */
canvas {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

/* Canvas CSS End */

.navigation-bar-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 1000;
    transition-duration: var(--medtransdur);
}

.navigation-bar-main.shadow {
    box-shadow: 1px 1px 40px black;
    transition-duration: var(--medtransdur);
}

.nav-logo-badge {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
    color: #d8ffe5;
    font-family: var(--font);
    background: linear-gradient(135deg, var(--logocolor1), var(--logocolor2));
    animation: glow 2.3s infinite ease-in-out;
    transition-duration: 0.3s;
}

.nav-logo-badge:hover {
    transform: translateY(-3px);
    transition-duration: 0.3s;
    box-shadow: 0 16px 35px rgba(10, 102, 255, 0.3);
}

.nav-logo-nr-text {
    font-weight: 800;
    color: white;
    cursor: pointer;
}

@keyframes glow {
    50% {
        box-shadow: 0 0 17px rgba(0, 120, 255, 0.7), 0 0 17px rgba(0, 120, 255, 0.7);
    }
}

.nav-link-sec ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    font-family: var(--font);
    color: var(--textdark);
}

.nav-link-sec a {
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    color: var(--textdark);
    transition-duration: var(--shorttransdur);
}

.nav-link-sec a:hover {
    cursor: pointer;
    color: var(--navyblue1);
    transition-duration: var(--shorttransdur);
}

.nav-button-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    color: var(--textdark);
    font-style: var(--font);
}

.nav-button-sec button {
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}

.nav-button-sec a {
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.nav-button-sec button:nth-child(1) {
    background-color: white;
    color: var(--navyblue1);
    border-color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.nav-button-sec button:nth-child(1):hover {
    color: white;
    border-color: var(--navyblue2);
    background-color: var(--navyblue2);
    transition-duration: var(--medtransdur);
}

.nav-button-sec a:nth-child(2) {
    color: white;
    border-color: var(--navyblue1);
    background-color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.nav-button-sec a:nth-child(2):hover {
    color: white;
    border-color: var(--navyblue2);
    background-color: var(--navyblue2);
    transition-duration: var(--medtransdur);
}

.nav-menu-btn {
    display: none;
}

.nav-menu-btn .navbar-tooltip-text {
    display: none;
}

.main-card {
    padding: 50px 140px;
}

.Home {
    scroll-margin-top: 100px;
}

.main-card-1 {
    margin-top: 100px;
    padding-left: 300px;
    padding-right: 300px;
}

.text-1 {
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    cursor: default;
    color: var(--textdark);
}

.text-2 {
    margin-top: 50px;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    text-transform: capitalize;
    cursor: default;
    color: var(--textgray);
}

.main-card-1 .buttons-sec {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.main-card-1 .buttons-sec button {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    border: var(--glassborder);
    backdrop-filter: var(--glassblur);
    background-color: var(--glassback);
    transition-duration: var(--medtransdur);
}

.main-card-1 .buttons-sec button:hover {
    border-color: var(--navyblue1);
    color: var(--navyblue1);
    fill: var(--navyblue1);
    transform: translateY(-1px);
    transition-duration: var(--medtransdur);
}

.main-card-1 .buttons-sec button svg {
    width: 27px;
    height: 27px;
    stroke: none;
}

.main-card-1 .link-buttons-sec {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.main-card-1 .link-buttons-sec button {
    padding: 10px 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: var(--textdark);
    border: var(--glassborder);
    backdrop-filter: var(--glassblur);
    background-color: var(--glassback);
    transition-duration: var(--medtransdur);
}

.main-card-1 .link-buttons-sec button:hover,
.main-card-1 .link-buttons-sec button:hover svg {
    border-color: var(--navyblue1);
    color: var(--navyblue1);
    stroke: var(--navyblue1);
    transform: translateY(-1px);
    transition-duration: var(--medtransdur);
}

svg {
    width: 20px;
    height: 20px;
    stroke: var(--textdark);
    transition-duration: var(--medtransdur);
}

.About {
    scroll-margin-top: 100px;
}

.main-card-2 {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me-card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 27px;
    border-radius: 14px;
    cursor: default;
    border: var(--glassborder);
    backdrop-filter: var(--glassblur);
    background-color: var(--glassback);
    transition-duration: var(--medtransdur);
}

.about-me-card-main h1 {
    margin-bottom: 7px;
    font-size: 40px;
    font-weight: 1000;
    line-height: 27px;
    text-align: center;
    color: var(--textdark);
    transition-duration: var(--medtransdur);
}

.about-me-card-main p {
    margin-top: 23px;
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--textgray);
    transition-duration: var(--medtransdur);
}

.about-me-card-main:hover,
.about-me-card-main:hover h1,
.about-me-card-main:hover p {
    border-color: var(--navyblue1);
    color: var(--navyblue1);
    transform: translateY(-1px);
    transition-duration: var(--medtransdur);
}

.about-me-card-sec {
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 27px;
}

.about-me-card-sec .about-me-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 17px;
    border-radius: 14px;
    cursor: default;
    text-transform: capitalize;
    border: var(--glassborder);
    backdrop-filter: var(--glassblur);
    background-color: var(--glassback);
    transition-duration: var(--medtransdur);
}

.about-me-card-sec .about-me-card:hover,
.about-me-card-sec .about-me-card:hover h2,
.about-me-card-sec .about-me-card:hover strong,
.about-me-card-sec .about-me-card:hover p {
    border-color: var(--navyblue1);
    color: var(--navyblue1);
    transform: translateY(-1px);
    transition-duration: var(--medtransdur);
}

.about-me-card-sec .about-me-card h2 {
    margin: 7px 0px;
    font-size: 24px;
    text-align: center;
    color: var(--textdark);
    transition-duration: var(--medtransdur);
}

.about-me-card-sec .about-me-card strong {
    color: var(--textdark);
    transition-duration: var(--medtransdur);
}

.about-me-card-sec .about-me-card p {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: var(--textgray);
    transition-duration: var(--medtransdur);
}

.about-me-lets-connect-card {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 27px;
    border-radius: 14px;
    cursor: default;
    text-transform: capitalize;
    border: var(--glassborder);
    backdrop-filter: var(--glassblur);
    background-color: var(--glassback);
    transition-duration: var(--medtransdur);
}

.about-me-lets-connect-card h2 {
    margin-bottom: 7px;
    font-size: 24px;
    font-weight: 1000;
    line-height: 27px;
    text-align: center;
    color: var(--textdark);
    transition-duration: var(--medtransdur);
}

.about-me-lets-connect-card p {
    margin-top: 23px;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    color: var(--textgray);
    transition-duration: var(--medtransdur);
}

.about-me-lets-connect-card:hover,
.about-me-lets-connect-card:hover h1,
.about-me-lets-connect-card:hover p {
    border-color: var(--navyblue1);
    color: var(--navyblue1);
    transform: translateY(-1px);
    transition-duration: var(--medtransdur);
}

.about-me-lets-connect-card button {
    margin-top: 17px;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    color: white;
    border-color: var(--navyblue1);
    background-color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.about-me-lets-connect-card button:hover {
    border-color: var(--navyblue2);
    background-color: var(--navyblue2);
    transition-duration: var(--medtransdur);
}

.Skills {
    scroll-margin-top: 100px;
}

.main-card-3 {
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-3 {
    margin-top: 5px;
    font-size: 40px;
    line-height: 27px;
    font-weight: 700;
    cursor: default;
    color: var(--textdark);
}

.text-4 {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: default;
    color: var(--textgray);
}

.technologies-main-card-sec {
    margin-top: 27px;
    padding: 17px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 40px;
}

.technologies-card-sec {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.text-5 {
    text-align: center;
    font-size: 20px;
    display: flex;
    font-weight: 700;
    cursor: pointer;
    color: var(--textdark);
    transition-duration: var(--shorttransdur);
}

.text-5:hover {
    color: var(--navyblue1);
    transition-duration: var(--shorttransdur);
}

.technologies-card-col {
    margin-top: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 23px;
    row-gap: 17px;
}

.technology-card {
    width: 77px;
    height: 77px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 12px;
    border: var(--glassborder);
    backdrop-filter: var(--glassblur);
    background-color: var(--glassback);
    transition-duration: var(--medtransdur);
}

.technology-card:hover,
.technology-card:hover .text-6 {
    border-color: var(--navyblue1);
    color: var(--navyblue1);
    transform: translateY(-1px);
    transition-duration: var(--medtransdur);
}

.technology-card img {
    height: 45px;
    width: 45px;
}

.text-6 {
    font-size: 12px;
    white-space: nowrap;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--textgray);
    transition-duration: var(--medtransdur);
}

.Mega-Projects {
    scroll-margin-top: 100px;
}

.main-card-4 {
    padding: 50px 140px;
}

.text-7 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    cursor: default;
    color: var(--textdark);
}

.text-8 {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    cursor: default;
    text-transform: capitalize;
    color: var(--textgray);
}

.mega-projects-card-sec {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
}

.mega-project-card {
    overflow: hidden;
    border-radius: 12px;
    border: var(--glassborder);
    backdrop-filter: var(--glassblur);
    background-color: var(--glassback);
    transition-duration: var(--medtransdur);
}

.mega-project-card:hover,
.mega-project-card:hover .mega-project-card-title,
.mega-project-card:hover .mega-project-card-languages .language,
.mega-project-card:hover .mega-project-card-languages .language p,
.mega-project-card:hover .mega-project-card-description {
    cursor: default;
    border-color: var(--navyblue1);
    color: var(--navyblue1);
    transform: translateY(-1px);
    transition-duration: var(--medtransdur);
}

.mega-project-card-image {
    width: 100%;
}

.mega-project-card-details {
    padding-top: 0px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.mega-project-card-title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
    color: var(--textdark);
    transition-duration: var(--medtransdur);
}

.mega-project-card-languages {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.language {
    margin-top: 10px;
    padding: 1px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: solid 1px;
    border-radius: 20px;
    border: var(--glassborder);
    background-color: var(--glassback);
    transition-duration: var(--medtransdur);
}

.language img {
    width: 17px;
}

.language p {
    font-size: 12px;
    font-weight: 700;
    color: var(--textgray);
    transition-duration: var(--medtransdur);
}

.mega-project-card-description {
    margin-top: 25px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: var(--textgray);
    transition-duration: var(--medtransdur);
}

.mega-project-card-buttons {
    width: 87%;
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
}

.mega-project-card-buttons button {
    padding: 7px 23px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
    border: solid 1px transparent;
}

.mega-project-card-buttons button:nth-child(1) {
    background-color: white;
    color: var(--navyblue1);
    border-color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.mega-project-card-buttons button:nth-child(1):hover {
    color: white;
    border-color: var(--navyblue2);
    background-color: var(--navyblue2);
    transition-duration: var(--medtransdur);
}

.mega-project-card-buttons button:nth-child(2) {
    color: white;
    border-color: var(--navyblue1);
    background-color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.mega-project-card-buttons button:nth-child(2):hover {
    color: white;
    border-color: var(--navyblue2);
    background-color: var(--navyblue2);
    transition-duration: var(--medtransdur);
}

.Mini-Projects {
    scroll-margin-top: 100px;
}

.main-card-5 {
    padding: 50px 140px;
}

.text-9 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    cursor: default;
    color: var(--textdark);
}

.text-10 {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    cursor: default;
    text-transform: capitalize;
    color: var(--textgray);
}

.mini-projects-card-sec {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
}

.mini-project-card {
    overflow: hidden;
    border-radius: 12px;
    border: var(--glassborder);
    backdrop-filter: var(--glassblur);
    background-color: var(--glassback);
    transition-duration: var(--medtransdur);
}

.mini-project-card:hover,
.mini-project-card:hover .mini-project-card-title,
.mini-project-card:hover .mini-project-card-languages .language,
.mini-project-card:hover .mini-project-card-languages .language p,
.mini-project-card:hover .mini-project-card-description {
    cursor: default;
    border-color: var(--navyblue1);
    color: var(--navyblue1);
    transform: translateY(-1px);
    transition-duration: var(--medtransdur);
}

.mini-project-card-image {
    width: 100%;
}

.mini-project-card-details {
    padding-top: 0px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.mini-project-card-title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
    color: var(--textdark);
    transition-duration: var(--medtransdur);
}

.mini-project-card-languages {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.language {
    margin-top: 10px;
    padding: 1px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: solid 1px;
    border-radius: 20px;
    border: var(--glassborder);
    background-color: var(--glassback);
    transition-duration: var(--medtransdur);
}

.language img {
    width: 17px;
}

.language p {
    font-size: 12px;
    font-weight: 700;
    color: var(--textgray);
    transition-duration: var(--medtransdur);
}

.mini-project-card-description {
    margin-top: 25px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: var(--textgray);
    transition-duration: var(--medtransdur);
}

.mini-project-card-buttons {
    width: 87%;
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
}

.mini-project-card-buttons button {
    padding: 7px 23px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
    border: solid 1px transparent;
}

.mini-project-card-buttons button:nth-child(1) {
    background-color: white;
    color: var(--navyblue1);
    border-color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.mini-project-card-buttons button:nth-child(1):hover {
    color: white;
    border-color: var(--navyblue2);
    background-color: var(--navyblue2);
    transition-duration: var(--medtransdur);
}

.mini-project-card-buttons button:nth-child(2) {
    color: white;
    border-color: var(--navyblue1);
    background-color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.mini-project-card-buttons button:nth-child(2):hover {
    color: white;
    border-color: var(--navyblue2);
    background-color: var(--navyblue2);
    transition-duration: var(--medtransdur);
}

.Contact {
    scroll-margin-top: 100px;
}

.main-card-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-11 {
    font-size: 40px;
    font-weight: 800;
    cursor: default;
    color: var(--textdark);
}

.connect-card-main {
    margin-top: 23px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

.connect-developer-stats {
    padding: 14px 17px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 12px;
    border: var(--glassborder);
    backdrop-filter: var(--glassblur);
    background-color: var(--glassback);
}

.text-12 {
    font-size: 20px;
    font-weight: 700;
    cursor: default;
    color: var(--textdark);
}

.text-13 {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: default;
    color: var(--textgray);
}

.developer-stats-project-card {
    margin-top: 27px;
    width: 100%;
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: solid 1px;
    border-radius: 10px;
    cursor: default;
    background-color: white;
    border-color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.developer-stats-project-card:hover {
    border-color: var(--navyblue2);
    background-color: var(--navyblue2);
    transition-duration: var(--medtransdur);
}

.developer-stats-project-card h3 {
    padding-left: 23px;
    font-size: 20px;
    font-weight: 800;
    color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.developer-stats-project-card p {
    padding-left: 23px;
    font-size: 14px;
    font-weight: 500;
    color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.developer-stats-project-card:hover h3,
.developer-stats-project-card:hover p {
    color: white;
    transition-duration: var(--medtransdur);
}

.developer-stats-cards-main {
    margin-top: 12px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 17px;
    row-gap: 17px;
}

.developer-stats-card {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 23px;
    padding-right: 0px;
    border: solid 1px;
    border-radius: 10px;
    cursor: default;
    background-color: white;
    border-color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.developer-stats-card:hover {
    border-color: var(--navyblue2);
    background-color: var(--navyblue2);
    transition-duration: var(--medtransdur);
}

.developer-stats-card h3 {
    font-size: 20px;
    font-weight: 800;
    color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.developer-stats-card p {
    font-size: 14px;
    font-weight: 500;
    color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.developer-stats-card:hover h3,
.developer-stats-card:hover p {
    color: white;
    transition-duration: var(--medtransdur);
}

.connect-contact {
    padding: 14px 17px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border: var(--glassborder);
    backdrop-filter: var(--glassblur);
    background-color: var(--glassback);
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.name div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name label {
    margin-left: 5px;
    font-size: 15px;
    font-weight: 500;
    color: var(--textgray);
}

.name input {
    width: 170px;
    padding: 7px 10px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 7px;
    border: solid 1px;
    cursor: default;
    outline: none;
    color: var(--navyblue1);
    border-color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.name input::placeholder {
    font-size: 14px;
    background-color: white;
    color: var(--navyblue1);
    border-color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.name input:hover,
.name input:hover::placeholder {
    color: white;
    border-color: var(--navyblue2);
    background-color: var(--navyblue2);
    transition-duration: var(--medtransdur);
}

.email {
    width: 100%;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

.email label {
    margin-left: 5px;
    font-size: 15px;
    font-weight: 500;
    color: var(--textgray);
}

.email input {
    width: 95%;
    padding: 7px 10px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 7px;
    border: solid 1px;
    cursor: default;
    outline: none;
    border: solid 1px;
    color: var(--navyblue1);
    border-color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.email input::placeholder {
    font-size: 14px;
    background-color: white;
    color: var(--navyblue1);
    border-color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.email input:hover,
.email input:hover::placeholder {
    color: white;
    border-color: var(--navyblue2);
    background-color: var(--navyblue2);
    transition-duration: var(--medtransdur);
}

.collab-type {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.collab-type label {
    margin-left: 5px;
    font-size: 15px;
    font-weight: 500;
    color: var(--textgray);
}

.collab-type div {
    margin-top: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.collab-type button {
    font-size: 13px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 7px;
    cursor: pointer;
    border: solid 1px;
    background-color: white;
    color: var(--navyblue1);
    border-color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.collab-type button:hover {
    color: white;
    border-color: var(--navyblue2);
    background-color: var(--navyblue2);
    transition-duration: var(--medtransdur);
}

.message {
    margin-top: 10px;
    width: 100%;
}

.message textarea {
    padding: 12px 10px;
    width: 95%;
    font-size: 15px;
    font-weight: 500;
    border-radius: 7px;
    border: solid 1px;
    cursor: default;
    outline: none;
    color: var(--navyblue1);
    border-color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.message textarea::placeholder {
    font-size: 14px;
    background-color: white;
    color: var(--navyblue1);
    border-color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}


.message textarea:hover,
.message textarea:hover::placeholder {
    color: white;
    border-color: var(--navyblue2);
    background-color: var(--navyblue2);
    transition-duration: var(--medtransdur);
}

.send-message {
    font-size: 13px;
    font-weight: 500;
    padding: 7px 27px;
    border-radius: 10px;
    cursor: pointer;
    border: solid 1px;
    background-color: white;
    color: var(--navyblue1);
    border-color: var(--navyblue1);
    transition-duration: var(--medtransdur);
}

.send-message:hover {
    color: white;
    border-color: var(--navyblue2);
    background-color: var(--navyblue2);
    transition-duration: var(--medtransdur);
}

.footer-bar-main {
    padding: 12px 140px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px;
    border-color: var(--navyblue1);
    background-color: var(--navyblue1);
}

.footer-bar-rights p {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    cursor: default;
}

.footer-bar-rights p:nth-child(1) {
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.footer-bar-rights p:nth-child(2) {
    font-size: 12px;
    font-weight: 500;
    color: white;
}

.footer-bar-rights svg {
    width: 14px;
    stroke: var(--textgray);
    stroke: white;
}

.footer-bar-languages {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 14px;
    cursor: default;
}

.footer-bar-languages p {
    font-size: 14px;
    font-weight: 500;
    color: var(--textgray);
    color: white;
}

.footer-bar-languages svg {
    width: 27px;
    cursor: pointer;
}